<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <div id="header">
    <div class="page_margins">
    {% block header %}{% endblock header %}
    </div>
  </div>
  <div class="page_margins">
    <div class="page">
     {% block body_header %}{% endblock body_header %}
     {% block body %}{% endblock body %}
     {% block body_footer %}{% endblock body_footer %}
    </div>
  </div>
  <div id="footer">
    <div class="page_margins">
    {% block footer %}{% endblock footer %}
    </div>
  </div>
{% block body_bottom %}{% endblock body_bottom %}
</body>
{% block bottom %}{% endblock bottom %}
</html>
